#wrapper{
    padding-top:50px;
    padding-bottom: 50px;
}
.board-row{
    border-radius: 5px;
    display: flex;
    justify-content:center;;
}
#board button{
    width:80px;
    height:70px;
    font-size:26px;
    border: 2px solid #fff;
    border-radius: 5px;
    outline: #000;
    transition:all 0.2s ease;
    color:#450920;
    background-color: #f87666;
}
@media (max-device-width: 768px){
    #board button{
        padding:0px 30px;
    }
    #board button{
        width:100%;
        font-size:30px;
    }
}
#board button:hover{
    background-color: #450920;
    color:#f87666;
}

#controls{
    padding:50px 0px;
    text-align: center;
}
#controls button{
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    color:#f87666;
    background-color: #fff;
}

#result{
    text-align: center;
    text-transform: uppercase;
    color:#450920;
    font-size:30px;
}