<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap" rel="stylesheet">

    <!-- link to all styesheets -->
    <link rel="stylesheet" href='stylesheets/style.css' />
    <link rel="stylesheet" href='stylesheets/header.css' />
    <link rel="stylesheet" href='stylesheets/footer.css' />
    <link rel="stylesheet" href='stylesheets/pages.css' />
    <title>LostWizard</title>
</head>

<body>
    <header id="header">
        <div id="header-title">
            <a href='#'>Lost Wizard</a>
        </div>
        <div id="header-menu">
            <a href='#'>Home</a>
            <a href='#'>Contact</a>
        </div>
    </header>