<%- include('header') -%>
<section class="full-body-container">
    <div id="welcome">
        <div id='welcome-img'>
            <img src="/images/undraw_code_thinking.svg" alt="Lost Wizard" />
        </div>
        <div id='welcome-txt'>
            <h1>Lost Wizard</h1>
            <p>
                My Open Source Side Projects, Please feel free to provide your valuable feedback.
            </p>
            <div>
                <a href='#'>Contact Me</a>
            </div>
        </div>
    </div>
</section>

<div id="pro">
    <h1>Projects</h1>
    <div id="projects">
        <div class='project'>
            <img src="images/tictactoe.png" alt="Tic Tac Toe" />
            <h4>Tic Toc Toe</h4>
        </div>
    </div>
</div>
<%- include('footer') -%>