<%- include('header') -%>
<section class="full-body-container">
    <div id="welcome">
        <div id='welcome-img'>
            <img src="/images/undraw_code_thinking.svg" alt="Lost Wizard" />
        </div>
        <div id='welcome-txt'>
            <h1>Lost Wizard</h1>
            <p>
                My Open Source Side Projects, Please feel free to provide your valuable feedback.
            </p>
            <div>
                <a href='#'>Contact Me</a>
            </div>
        </div>
    </div>
</section>
<div id="projects-list-wrapper">
    <div id="projects-list-title">
        <h4>Projects</h4>
    </div>
    <div id="projects-list">
        <div class='project'>
            <a href='#'>
                <div class='project-img'>
                    <img src="/images/undraw_gaming.svg" alt="Tic Tac Toe Game"/>
                </div>
                <span>Tic Tac Toe Game</span>
            </a>
            <a href='#'>Github Link</a>
        </div>
        <div class='project'>
            <a href='#'>
                <div class='project-img'>
                    <img src="/images/undraw_profile.svg" alt="Tic Tac Toe Game"/>
                </div>
                <span>Portfolio</span>
            </a>
            <a href='#'>Github Link</a>
        </div>
        <div class='project'>
            <a href='#'>
                <div class='project-img'>
                    <img src="/images/undraw_to_do_list.svg" alt="Tic Tac Toe Game"/>
                </div>
                <span>To Do List</span>
            </a>
            <a href='#'>Github Link</a>
        </div>
    </div>
</div>
<%- include('footer') -%>